
.first-header
{
    display: flex;
   justify-content: center;
   background-color: aquamarine;
   margin-top: 0px;
}
.border
{
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 520px;
    
    
}
.click a:link ,
.click a:active ,
.click a:visited 
{
    text-decoration: none;
    color: black

}
.click a:hover 
{
    
        cursor: pointer;
        color: red;

}
/*button{
    background-color: black;
    color: burlywood;
    
    


}*/


.button:hover
{
    
    
    color: black;
    background-color: burlywood;
    cursor: pointer;
    height: 60px;
    border-radius: 5%;
   
}
.button{
   width: 1000px;
   height: 60px;
   background-color: black;
   color: antiquewhite;
   border-radius: 5%;

}
.press
{
    text-align: center;
    font-size: xx-large;
    width: auto;
    border-radius: 25%;
}
.shape-container
{
    display: flex;
    gap: 20px;
    width: 500px;
    justify-content: center;
    margin-top: 10PX;
    margin-bottom: 10PX;

}
.shape-1
{
        width:40px ;
        height:40px ;
        background-color:red ;
}
.shape-2
{
        width:40px ;
        height:40px ;
        background-color:cyan;
}

.shape-3
{
        width:40px ;
        height:40px ;
        background-color:purple;
}
.shape-4
{
        width:40px ;
        height:40px ;
        background-color:blue;
}
.shape-5
{
        width:40px ;
        height:40px ;
        background-color:yellow ;
}
.shape-6
{
        width:40px ;
        height:40px ;
        background-color:orange ;
}
.tag
{
    display: inline-block;
    position: absolute;
    background-color: red;
    padding: 5px;
    letter-spacing: 5px;
    top: 0px;
    width: 130px;
    display: flex;
    margin-top: -2px;
    margin-left: -30px;
    
}

.sale-shoe    
{
    display: flex;
}
.align
{
    display: flex;
    gap: 50px;
    align-items: center;

}
.free-shipping
{
    color: grey;
    
    
}
.sale
{
    border-top: -10px;

}
.shape-container:hover
{
    cursor: pointer;
}
